:not(pre) > code {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    background-color: #F3F3F3;
    padding: 3px;
    font-family: Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
}

pre {
    margin-bottom: 0;
}

pre code {
    border-left: 5px solid #ccc;
    margin: .1em 10px;
    padding: 0;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote p {
    display: inline;
}

h1 {
    margin-bottom: .5em;
}

h2 {
    margin-top: 1em;
}

h2 + h3 {
    margin-top: .5em;
}

:not(h1):not(h2) + h3 {
    margin-top: 1em;
}

p {
    margin-bottom: 8px;
}

p + p {
    padding-top: 8px;
}

pre {
    padding-top: 10px;
}
